@media (min-width: 1200px) {
  main.col-xl-9 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  aside#panel-wrapper.col-xl-3 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    margin-left: 1rem; // opcional: añade separación extra
  }
}
